include head.pug

.top-catalog.center
  // Head-top-menu
  header
  
    .header
      a(href='index')
        p.header__logo-text ЗооStore.
      // <a href="index"><img class="phone__logo" src="img/logo.png" alt=""></a>
      div.wrapper
       form.form
        input.header__input(type='text' class="search" placeholder='Пошук')
        ul.options
      nav
        a.header__link(href='catalog') Каталог
        a.header__link(href='order') Кошик
    .phone
      .phone__menu
        a(href='index')
          p.header__logo-text ЗооStore.
        .phone__box
          a(href='#')
            img.phone__img(src='../img/f.png' alt='')
          a(href='catalog')
            img.phone__img(src='../img/fff.png' alt='')
          a(href='order')
            img.phone__img(src='../img/ff.png' alt='')
  // Head-top-menu
  // Head-under-text
  section
    .Under-text
      h1.Under-text__H1 Каталог
// Head-under-text
// Catalog-menu
.block.center
  div
    ul.block-pack__ul
      a.block-pack__li(href='index') Головна 
      a.block-pack__li(href='catalog') Каталог товарів


  .menu-drop
    ul.menu-drop__ul
      li.menu-drop__list
        a.menu-drop__a.menu-drop__cost(href='/catalog?orderBy=ASC')
          p Сортувати за :
        img.menu-drop__img(src='../img/Polygon1.png' alt='')
        ul.menu-drop__box
          li
            a#sort-asc.menu-drop__cost.menu-drop__cost-1(href='/catalog?orderBy=ASC') Спочатку : дешеві
          li
            a.menu-drop__cost.menu-drop__cost-4(href='/catalog?orderBy=ASC') Спочатку : дорогі
          
include nav.pug

// Catalog-menu     
.center.Mebel__style-h2
  h4#FEED #{korm[0]['category']}    
  .product-catalog.center 
    each val, index in korm
      include card.pug

.center.Mebel__style-h2
  h4#play #{game[0]['category']}    
  .product-catalog.center 
    each val, index in game
      include card.pug

.center.Mebel__style-h2
  h4#home #{homes[0]['category']}    
  .product-catalog.center 
    each val, index in homes
      include card.pug

.center.Mebel__style-h2
  h4#Sunbeds #{bed[0]['category']}    
  .product-catalog.center 
    each val, index in bed
      include card.pug

.center.products__style-h2
  h4#Napovyuvachi #{nap[0]['category']}  
  .center.products__sell 
      each val, index in nap
        include card.pug


div#myBtn
  button(class="show-nav")
    a(href='#' class='show-nav')
      img(src='../img/chevron.png' alt='') 

div.go-top
  button()
    a.link-catalog__text(href='catalog')
      img(src='../img/up-arrow.png' alt='' height='64px' width='64px')




include footer.pug
include script.pug

