include head.pug

.top-basket.center
  // Head-top-menu
  header
    .header
      a(href='index')
        p.header__logo-text ЗооStore.
      // <a href="index"><img class="phone__logo" src="img/logo.png" alt=""></a>
      input.header__input(type='text' placeholder='Пошук')
      nav
        a.header__link(href='catalog') Каталог
        a.header__link(href='order') Кошик
    .phone
      .phone__menu
        a(href='index')
          p.header__logo-text ЗооStore.
        .phone__box
          a(href='#')
            img.phone__img(src='../img/f.png' alt='')
          a(href='catalog')
            img.phone__img(src='../img/fff.png' alt='')
          a(href='order')
            img.phone__img(src='../img/ff.png' alt='')
  // Head-top-menu
  // Head-under-text
  section
    .Under-text
      h1.Under-text__H1 Кошик
// Head-under-text
// BASKET

.center.cart-move 
  .cart__display-interface  
    h2(class="cart-headers") Кошик :
    div(class=".category-list")
      div(id="card-nav")

  .cart__display-interface.cart__input-date.center
    h2.cart__head Оформлення замовлення
      .cart__head-move
                  form#lite-shop-order(action="")
                            div(class='form-control')
                              label(for='username') 
                              input(
                                  type='text',
                                  id='username',
                                  placeholder="Ім'я",
                                  )
                            div(class='form-control')
                              label(for='phone') 
                              input(
                                  type='text',
                                  id='phone',
                                  placeholder='Телефон',
                                  )
                            div(class='form-control')
                              label(for='email') 
                              input(
                                  type='text',
                                  id='email',
                                  placeholder='Пошта',
                                  )
                            div(class='form-control form-controls')
                              label(for='address')  
                              input(
                                  type='text',
                                  id='address',
                                  placeholder='Адреса',
                                  )
                            div(class='form-control')
                              label(for='rule') 
                                input(
                                    type='checkbox',
                                    id='rule',
                                    value='1'
                                    ) 
                                span  Правила та умови
                            div(class='form-control text-rights')
                              button(class='button-primary', type='submit') Замур-рчательний вибір
                           
// Supecial-sells
.center
  .link-catalog__text
    a.link-catalog__text(href='catalog') Перейти до каталогу


include footer.pug
include script.pug